APP_NAME=backend
APP_PORT=2000
APP_ENV=development

DB_DRIVER=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOSTNAME=localhost
DB_PORT=5432
DB_NAME=

JWT_SECRET_KEY=""
JWT_REFRESH_SECRET_KEY=""
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=1